@charset "utf-8";

/* 본고딕 */
@font-face {
  font-family: 'NotoSans';
  src: url('../webfont/NotoSans-Light.eot');
  src: url('../webfont/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../webfont/NotoSans-Light.woff2') format('woff2'),
  url('../webfont/NotoSans-Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../webfont/NotoSans-Regular.eot');
  src: url('../webfont/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../webfont/NotoSans-Regular.woff2') format('woff2'),
  url('../webfont/NotoSans-Regular.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../webfont/NotoSans-Medium.eot');
  src: url('../webfont/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('../webfont/NotoSans-Medium.woff2') format('woff2'),
  url('../webfont/NotoSans-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../webfont/NotoSans-Bold.eot');
  src: url('../webfont/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../webfont/NotoSans-Bold.woff2') format('woff2'),
  url('../webfont/NotoSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


/* default */
* {margin:0;padding:0;word-wrap:break-word;word-break:keep-all;-webkit-text-size-adjust: none; -moz-text-size-adjust: none; -o-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust:none;font-family:'Malgun Gothic', 'NanumGothic', '돋움', Dotum, verdana, sans-serif;}

html, body{}
body {position:relative;font-size:12px;color:#000;line-height:1.5;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, address, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, textarea, table, caption, tbody, tfoot, thead, tr, th, td, header, footer, nav, menu, section, article, aside, main, video {margin:0;padding:0;border:0;}
header, footer, section, article, aside, nav, main, details, menu, figure, figcaption, video {display:block;}
table {border-collapse:collapse;word-wrap:break-word;word-break:break-all;}
caption {position:absolute;top:-9999px;left:-9999px;width:0;height:0;overflow:hidden;/*visibility:hidden;*/font-size:0;line-height:0;}
table th{}
table td {}
ol, ul, li {list-style: none outside none;}
a {text-decoration:none; color:#000;}
a:hover, a:visited {text-decoration:none;}
button {cursor:pointer;border:none;}
img {border:0 none; vertical-align: top;}
form input, form select, form label, form img {vertical-align: middle;}
fieldset {border: 0 none;}
fieldset legend{}
em, address {font-style: normal;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
strong {font-weight:bold;}
mark {background: none;}
iframe {margin: 0; padding: 0;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
input[type="text"], input[type="password"] {}
input[type="text"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="password"]{-webkit-appearance:none;border-radius:0; font-size: 12px;}
input[type="search"]::-webkit-search-cancel-button{display: none;}
input[type="search"]::-ms-clear{display: none;}
/*select {font-size:15px;height: 36px;padding: 0 25px 0 13px;border: 1px solid #ddd;background: #f9f9f9;line-height: 36px;-webkit-appearance:button;-moz-appearance:button;appearance:button;}
select::-ms-expand {display: none;}*/
.oldie select{height:auto;padding:0;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a0a0a0;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a0a0a0;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a0a0a0;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a0a0a0;
}

/* skip */
.skip {position:fixed;top:0;left:0;width:100%;height:0;line-height:0;z-index:500;}
.skip a {width:0;height:0;font-size:0;line-height:0;color:transparent;text-indent:-9999px;}
.skip a:hover, .skip a:focus,.skip a:active {display:block;height:48px;width:100%;text-indent:0;padding:16px 0;text-align:center;font-size:14px;line-height:1;color:#fff;background:#282a37;}

/* common */
.clearboth{clear:both; display:block; content:'';}
.hidden {display:block; height: 0; width: 0; font-size: 0; line-height: 0; margin: 0; padding: 0; overflow:hidden;}



